article{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}


header{
    display: flex;
    flex-wrap: wrap;
    background-color: palegoldenrod;
    flex-direction: column;
    align-content: center;
    width:100%;
}
div{
    display: flex;
    width:100%;
    justify-content: center;
}

nav{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:  white;
    justify-content: space-evenly; 
}

a{
    border: 2px solid black;
}



body{
    /* background-color: floralwhite; */
    background-color: white
}

main{
    display: flex;
    /* background-color: beige; */
    background-color: floralwhite;
    flex-wrap: wrap;
    margin: auto;
    padding: 10% 10% 10% 10%;
    justify-content: center;
    align-content: space-around;
}

article{
    display: flex;
    /* border: 5px solid black; */
}

section{
    display: flex;
    flex-direction: row;
}




/* nav ul{
    display: flex;
    flex-direction: row;
    align-content: space-between;
} */

#recipe_img{
    height: 400px;
    width: 400px;
    border-radius: 100%;
}

#homepage_img{
    width: 100%;
}

footer{
    text-align: right;
}

#fft{
    font-family: fantasy;
}

.img_description {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }

section:hover .img_description{
    visibility: visible;
    opacity:1;
}

p{
    margin:50% auto;

}